.card__Container {
  width: 30%;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.card__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.card__left > h3 {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}

.card__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
  color: #7a7a7a;
}
